<h2>Login to an Account</h2>

<% if @error %>
  <%= @error %>
<% end %>
<form action="/login" method="post">
  <label for="username">Username:</label>
  <input type="text" name="member[username]">
  <label for="password">Password:</label>
  <input type="password" name="member[password]">
  <input type="submit" value="Log in">
</form>