<h2>Create a new account</h2>

<form action="/signup" method="post">

  <label for="name">Name:</label>
  <input type="text" name="member[name]">
  <label for="password">Password:</label>
  <input type="password" name="member[password]">
  <input type="submit" value="Create an Account">

</form>
 <br>

 <p>Already have an account?   
 <a href="/login">Login</a>
 </p>

