<h2>Create a new Gun</h2>

<% current_personas = Persona.where(member_id: current_user.id) %>
<form action="/guns" method="post">

  <label for="serial_num">Serial Number:</label>
  <input type="text" name="gun[serial_num]"><br>
  <label for="type_description">Type and Description:</label><br>
  <input type="text" name="gun[type_description]"><br>
  
  <label for="gun[persona_id]">Persona:</label>
  <select name="gun[persona_id]" id="gun[persona_id]">
  <% current_persona.each do |person| %>
    <option value="<%= person.id %>"><%= person.first_name %> <%= person.last_name %></option>
  <% end %>
  </select>
  <input type="submit" id="submit" value="Create Gun">

</form>

