<h2>Gun Info</h2>
<% current_gun = Gun.where(id: params[:id]) %>
<% @gun = current_gun[0] %>

<p>
  <b>Serial Number:</b> <%= @gun.serial_num %><br>
  <b>Type/Description:</b> <%= @gun.type_description %><br>
  <b>Owner Persona ID:</b> <%= @gun.persona_id %><br>

</p>
<br>
<a href=<%= "/guns/#{@gun.id}/edit" %>>Edit Gun</a>



