<h2>Create a new Persona</h2>

<form action="/personas" method="post">

  <label for="first_name">First Name:</label>
  <input type="text" name="persona[first_name]"><br>
  <label for="last_name">First Name:</label>
  <input type="text" name="persona[last_name]"><br>
  <input type="submit" id="submit" value="Add Persona">

</form>
