<h2>Create a new Vehicle</h2>
<% current_personas = Persona.where(member_id: current_user.id) %>
<form action="/vehicles" method="post">

  <label for="plate_number">License Plate Number:</label>
  <input type="text" name="vehicle[plate_number]"><br>
 
  
  <label for="persona_id">Persona:</label>
  <select name="vehicle[persona_id]" id="persona_id">
  <% current_persona.each do |person| %>
    <option value="<%= person.id %>"><%= person.first_name %> <%= person.last_name %></option>
  <% end %>
  </select>
  <br>
  <label for="type_description">Type and Description:</label><br>
  <input type="text" name="vehicle[type_description]"><br>
  <label for="color">Color:</label>
  <input type="text" name="vehicle[color]"><br>
  <input type="submit" id="submit" value="Create Vehicle">

</form>

