<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<% @community = "Flatiron School Project RP" %>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />

    <title>RpCad</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <body>
    <div class="wrapper">
    <header>
    <h1><u>Welcome to <%= "#{@community}" %></u></h1>
    </header>

        <%= yield %>


      <footer class="branding">

      <nav class="crumbs">
        <ol>
          <li class="crumb"><a href=<%= "/members/#{current_user.id}/show" %>>Return to current Member (<%= current_user.name %>)</a></li>
          <li class="crumb"><a href="/personas">View Current Member Personas</a></li>
          <li class="crumb"><a href="/vehicles">View Vehicles</a></li>
          <li class="crumb"><a href="/guns">Return to Guns</a></li>
          <li class="crumb"><a href="/addresses">View Addressess</a></li>
          <li class="crumb"><a href="/logout">Logout</a></li>
        </ol>
      </nav>
        <small>&copy; 2020 <strong>RpCad</strong></small>
      </footer>
    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <!--[if lt IE 7]>
      <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
      <script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script>
    <![endif]-->
  </body>
</html>
