
<div class="container">

  <% if logged_in? == true %>
  
    <h2>Welcome <%= current_user.name %></h2>
    <h2>Your admin level is <%= current_user.admin_level %> </h2>
    <a href="/logout">Logout</a> | <a href="/persona/show">View Your Personas </a> 

  <% else %>
  
    <h2>Please log in first</h2>
    <a href="/signup">Signup</a> | <a href="/login">Login</a>
  <% end %>
</div>
