
<h2>Edit a Member</h2>


<form action=<%= "/members/#{@member.id}" %> method="post">
  <input type="hidden" name="_method" value="put">
  <label for="name">Name:</label>
  <input type="text" name="member[name]" value=<%=member.name%>>
  <label for="admin_level">Admin Level:</label>
  <>