<h1>All Members:</h1>

<table>
    <tr>
        <th> Name </th>
        <th> Admin Level </th>
    </tr>
    <% all_members = Member.all%>
<% all_members.each do |member|%>
    
    <tr>
        <td><%= member.name %></td>
        <td><%= member.admin_level_id %></td>
    </tr>
    <% end %>
    </table>



<a href="/members/new">Create New Member</a> | <a href=<%= "/members/#{current_user.id}/show" %>>Return to current Member (<%= current_user.name %>)</a> | <a href="/members">View All Members</a> | <a href="/personas/show">View Personas</a> | <a href="/logout">Logout</a>

