<style>
th {
  padding: 5px;
}
td {
  padding: 5px
}
</style>

<h1>All Members:</h1>

<table>
    <tr>
        <th> Name </th>
        <th> Admin Level </th>
    </tr>
    <% all_members = Member.all%>
    <tr>
        <td>----------</td>
        <td>-----------------------</td>
    </tr>
<% all_members.each do |member|%>
    
    <tr>
        <td><%= member.name %></td>
        <td style="padding-left:39px"><%= member.admin_level_id %></td>
    </tr>
    <% end %>
    </table>

<br>

<a href="/members/new">Create New Member</a>