<h2>Create a new member</h2>

<form action="/members" method="post">
  <label for="name">Name:</label>
  <input type="text" name="member[name]">
  <br />
 Admin Level: 
 <br>
  <input type="radio" id="admin0" name="member[admin_level]" value="0">
  <label for="admin0">0 - Not an admin</label><br>
  <input type="radio" id="admin1" name="member[admin_level]" value="1">
  <label for="admin1">1 - Community Director</label><br>
  <input type="radio" id="admin2" name="member[admin_level]" value="2">
  <label for="admin2">2 - Deputy Director</label><br>
  <input type="radio" id="admin3" name="member[admin_level]" value="3">
  <label for="admin3"> 3 - Advanced Roleplay Team</label><br>
  <input type="submit" id="Submit" value="Add Member">

</form>

